:root {
  --color-white: #ffffff;
  --color-black: #000;
  --color-grey: #c4c4c4;
  --color-primary: #ffcb0a;
  --color-secondary: #0084b5;
  --color-tertiary: #004964;
  --black-overlay: #00000080;
  --men: #0596ff;
  --girls: #eb05ff;
  --mixed: #46ff05;
  --vs: #ff0000; }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: var(--color-black); }

.heading-primary {
  color: var(--color-white);
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: 0.5rem; }
    @media only screen and (max-width: 26.56em) {
      .heading-primary--main {
        font-size: 3rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: 0.3rem; }
    @media only screen and (max-width: 26.56em) {
      .heading-primary--sub {
        font-size: 2rem; } }
  @media only screen and (max-width: 48em) {
    .heading-primary {
      text-align: center; } }

.heading-secondary {
  font-size: 4rem;
  margin-bottom: -1rem; }
  .heading-secondary--1 {
    color: var(--color-primary); }
  .heading-secondary--2 {
    color: var(--color-white); }
  .heading-secondary--3 {
    color: var(--color-secondary); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--color-white); }

.heading-quaternary {
  font-size: 1.5rem;
  font-weight: 300; }

.paragraph {
  font-size: 1.6rem;
  margin-bottom: 1rem; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 80em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 48em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 80%; } }

body {
  box-sizing: border-box; }

.center-container {
  margin: 0 auto;
  width: 75vw;
  z-index: 10; }
  @media only screen and (max-width: 64em) {
    .center-container {
      width: 95vw; } }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 2rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 5.8rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-big {
  margin-bottom: 8rem !important; }

.u-margin-top-huge {
  margin-bottom: 10rem !important; }

.u-flex {
  display: flex; }

.u-flex-column {
  flex-direction: column; }

.btn {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--color-white);
  text-decoration: none;
  padding: 0.5rem 5rem;
  border-radius: 40rem;
  transition: all 0.2s;
  display: inline-block;
  margin: auto 0;
  justify-self: end; }
  .btn--1 {
    background-color: var(--color-secondary); }
  .btn--2 {
    background-color: var(--color-primary); }
  .btn:hover {
    background-color: var(--color-primary);
    transform: scale(1.1);
    box-shadow: 0 0.4rem 5rem var(--black-overlay); }
  .btn:active {
    transform: scale(1);
    box-shadow: 0 0.4rem 4rem var(--color-overlay); }

.image-box {
  min-width: 28rem;
  height: 28rem;
  background-image: url(../img/hector.jpg);
  background-size: cover;
  background-position: 60% 50%;
  border-radius: 4rem; }

.schedule-preview {
  background-color: var(--color-white);
  border-radius: 4rem;
  display: grid;
  padding: 2rem;
  width: 110%;
  transform: translate(-10%);
  align-items: center;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 2.5rem; }
  .schedule-preview__element {
    background-color: var(--color-white);
    display: flex;
    border-radius: 50rem;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    transition: all 0.2s; }
    .schedule-preview__element:hover {
      transform: scale(1.1); }
    .schedule-preview__element--blue {
      border: 5px solid var(--men); }
    .schedule-preview__element--pink {
      border: 5px solid var(--girls); }
    .schedule-preview__element--green {
      border: 5px solid var(--mixed); }
    .schedule-preview__element--big-1 {
      width: 250%;
      height: 180%;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
      transform: translate(-13rem);
      transition: all 0.2s; }
      .schedule-preview__element--big-1:hover {
        transform: translate(-13rem, -1rem); }
    .schedule-preview__element--big-2 {
      width: 250%;
      height: 180%;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
      transform: translate(1rem);
      transition: all 0.2s; }
      .schedule-preview__element--big-2:hover {
        transform: translate(1rem, -1rem); }
  .schedule-preview__text {
    color: var(--vs);
    font-weight: 600; }
    .schedule-preview__text:hover {
      cursor: default; }
  .schedule-preview .grey-bar {
    background-color: var(--color-grey);
    height: 0.8rem;
    border-radius: 50rem; }
    .schedule-preview .grey-bar__big {
      height: 1.5rem;
      width: 35%; }
      .schedule-preview .grey-bar__big--1 {
        grid-column: 2 / -1;
        width: auto;
        transition: all 0.2s; }
        .schedule-preview .grey-bar__big--1:hover {
          transform: scale(1.1); }
      .schedule-preview .grey-bar__big--2 {
        grid-column: 1 / 3;
        grid-row: 5 / 6;
        width: auto;
        transition: all 0.2s; }
        .schedule-preview .grey-bar__big--2:hover {
          transform: scale(1.1); }
    .schedule-preview .grey-bar__small {
      height: 0.8rem;
      width: 30%; }

.tables {
  position: relative; }
  .tables .grey-line {
    background-color: var(--color-grey);
    width: 100%;
    height: 1rem;
    border-radius: 50rem; }
  .tables__leader {
    background-color: var(--color-white);
    width: 70%;
    top: 10rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 4rem;
    padding: 1.5rem 2rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    position: absolute;
    display: flex;
    align-items: center;
    z-index: 10;
    transition: all 0.2s; }
    .tables__leader .grey-line:not(:last-child) {
      margin-right: 1rem; }
    .tables__leader:hover {
      background-color: var(--color-secondary); }
  .tables__consecutive {
    background-color: var(--color-white);
    padding: 6rem 3.5rem 3.5rem 3.5rem;
    display: grid;
    border-radius: 4rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    width: 80%;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 3.5rem repeat(3, 1fr);
    grid-row-gap: 2rem;
    grid-column-gap: 1rem;
    align-items: center;
    margin: 0 auto; }
  .tables__info-button {
    margin: 4rem auto 0 auto;
    width: 80%;
    display: grid;
    justify-items: center;
    grid-template-columns: 4fr 3rem 2fr; }
    .tables__info-button .white-separator {
      background-color: var(--color-white);
      width: 1rem;
      border-radius: 10rem; }
    .tables__info-button .paragraph {
      font-size: 1.7rem;
      justify-self: center;
      margin-bottom: 0;
      color: var(--color-white); }

.icon {
  height: 3.5rem;
  width: 3.5rem;
  margin-right: 1.4rem; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.header-image {
  background-image: url(../img/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  height: 75vh;
  width: 100%;
  position: absolute;
  overflow: hidden;
  z-index: -10; }
  @media only screen and (max-width: 48em) {
    .header-image {
      height: 100vh; } }
  .header-image__overlay {
    background-color: var(--black-overlay);
    height: 75vh; }
    @media only screen and (max-width: 48em) {
      .header-image__overlay {
        height: 100vh; } }

.header {
  height: 75vh; }
  .header__text-box {
    margin-top: 8rem; }
  @media only screen and (max-width: 48em) {
    .header {
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center; } }

.navbar {
  padding-top: 4rem;
  height: 14rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media only screen and (max-width: 48em) {
    .navbar {
      justify-content: center; } }
  .navbar__logo {
    height: 100%;
    transition: all 0.2s;
    cursor: pointer; }
    .navbar__logo:hover {
      color: var(--color-black);
      transform: scale(1.1); }
    @media only screen and (max-width: 48em) {
      .navbar__logo {
        width: 70vw;
        height: auto;
        margin-bottom: 10%; } }
  .navbar__list-item {
    font-size: 1.3rem;
    list-style: none;
    display: inline-block; }
    .navbar__list-item:not(:last-child) {
      margin-right: 2rem; }
  @media only screen and (max-width: 48em) {
    .navbar__list {
      display: none; } }
  .navbar__list-link:visited, .navbar__list-link:link {
    text-decoration: none;
    padding: 0.5rem 2rem;
    border-radius: 4rem;
    min-width: 7rem;
    text-align: center;
    transition: all 0.2s;
    cursor: pointer;
    color: var(--color-white); }

.footer {
  height: 6rem;
  padding: 1.5rem;
  background-color: var(--color-tertiary); }

.about-section {
  width: 100%;
  background-color: var(--color-white);
  overflow: hidden;
  padding: 7rem 0;
  display: flex; }

.schedule-section {
  width: 100%;
  padding: 7rem 0;
  background-color: var(--color-secondary);
  color: var(--color-white); }

.tables-section {
  background-color: var(--color-primary);
  padding: 7rem 0; }
