:root {
  // Colors
  --color-white: #ffffff;
  --color-black: #000;
  --color-grey: #c4c4c4;

  --color-primary: #ffcb0a;
  --color-secondary: #0084b5;
  --color-tertiary: #004964;

  --black-overlay: #00000080;

  // Categories
  --men: #0596ff;
  --girls: #eb05ff;
  --mixed: #46ff05;
  --vs: #ff0000;
}

// Gradients
$gradient-primary: linear-gradient(
  180deg,
  #2bb7f3 0%,
  rgba(0, 0, 0, 0.22) 100%
);

// Font
$default-font-size: 1.6rem;

// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
