.header-image {
  background-image: url(../img/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  height: 75vh;
  width: 100%;
  position: absolute;
  overflow: hidden;
  z-index: -10;

  @include respond(tablet) {
    height: 100vh;
  }

  &__overlay {
    background-color: var(--black-overlay);
    height: 75vh;

    @include respond(tablet) {
      height: 100vh;
    }
  }
}

.header {
  height: 75vh;
  &__text-box {
    margin-top: 8rem;
  }

  @include respond(tablet) {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.navbar {
  padding-top: 4rem;
  height: 14rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include respond(tablet) {
    justify-content: center;
  }

  &__logo {
    height: 100%;
    transition: all 0.2s;
    cursor: pointer;

    &:hover {
      color: var(--color-black);
      transform: scale(1.1);
    }

    @include respond(tablet) {
      width: 70vw;
      height: auto;
      margin-bottom: 10%;
    }
  }

  &__list {
    &-item {
      font-size: 1.3rem;
      list-style: none;
      display: inline-block;

      &:not(:last-child) {
        margin-right: 2rem;
      }
    }

    @include respond(tablet) {
      display: none;
    }
  }

  &__list-link {
    &:visited,
    &:link {
      text-decoration: none;
      padding: 1rem 2rem;
      border-radius: 4rem;
      min-width: 7rem;
      text-align: center;
      transition: all 0.2s;
      cursor: pointer;
      color: var(--color-white);
    }
  }
}
