.schedule-preview {
  background-color: var(--color-white);
  border-radius: 4rem;
  height: 100%;
  display: grid;
  padding: 2rem;
  width: 110%;
  transform: translate(-10%);
  align-items: center;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);

  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 2.5rem;

  &__element {
    background-color: var(--color-white);
    display: flex;
    border-radius: 50rem;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    transition: all 0.2s;

    &:hover {
      transform: scale(1.1);
    }

    &--blue {
      border: 5px solid var(--men);
    }

    &--pink {
      border: 5px solid var(--girls);
    }

    &--green {
      border: 5px solid var(--mixed);
    }

    &--big-1 {
      width: 250%;
      height: 180%;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
      transform: translate(-13rem);
      transition: all 0.2s;
      &:hover {
        transform: translate(-13rem, -1rem);
      }
    }

    &--big-2 {
      width: 250%;
      height: 180%;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
      transform: translate(1rem);
      transition: all 0.2s;
      &:hover {
        transform: translate(1rem, -1rem);
      }
    }
  }

  &__text {
    color: var(--vs);
    font-weight: 600;

    &:hover {
      cursor: default;
    }
  }

  .grey-bar {
    background-color: var(--color-grey);
    height: 0.8rem;
    border-radius: 50rem;

    &__big {
      height: 1.5rem;
      width: 40%;

      &--1 {
        grid-column: 2 / -1;
        width: auto;
        transition: all 0.2s;

        &:hover {
          transform: scale(1.1);
        }
      }
      &--2 {
        grid-column: 1 / 3;
        grid-row: 5 / 6;
        width: auto;
        transition: all 0.2s;

        &:hover {
          transform: scale(1.1);
        }
      }
    }

    &__small {
      height: 0.8rem;
      width: 30%;
    }
  }
}
