.about-section {
  width: 100%;
  background-color: var(--color-white);
  overflow: hidden;
  padding: 7rem 0;
  display: flex;

  .about {
    display: grid;
    grid-template-columns: minmax(28rem, 30rem) 1fr;
    grid-template-rows: repeat(2, 14rem);
    gap: 3rem;

    @include respond(tablet) {
      row-gap: 8rem;
    }

    @include respond(phone) {
      grid-template-columns: 1fr;
      gap: 1rem;
    }
  }
}

.schedule-section {
  width: 100%;
  padding: 7rem 0;
  background-color: var(--color-secondary);
  color: var(--color-white);
}

.tables-section {
  background-color: var(--color-primary);
  padding: 7rem 0;
}
