.about-section {
  width: 100%;
  overflow: hidden;
  padding: 7rem 0;
  display: flex;
}

.schedule-section {
  width: 100%;
  position: relative;
  padding: 7rem 0;
  color: var(--color-white);
}

.background {
  background-color: var(--color-secondary);
  width: 100%;
  position: absolute;
  left: 0;
  z-index: -1;
}
