.about-section {
  width: 100%;
  overflow: hidden;
  padding: 7rem 0;
  display: flex;
}

.schedule-section {
  width: 152%;
  left: -17.5vw;
  position: relative;
  padding: 7rem;
  background-color: var(--color-secondary);
}
